<div style="text-align: left; padding: 30px;">
  <%= form_for @message, :validate => true do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">    
    <%= f.label  "Nome e Cognome" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "E-mail" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Oggetto" %><br />
    <%= f.text_field :object %>
  </div>
  <div class="field">
    <%= f.label "Testo" %><br />
    <%= f.text_area :text %>
  </div>
    <%= f.hidden_field :house_id, :value => @house.id %>
  <div class="action">
    <%= f.submit "Invia messaggio" %>
  </div>
  <% end %>
</div>
<br clear="all" />