<div id="navigator" class="span-5">
  <h3>Men&ugrave;</h3>
  <ul>    
    <li><%= link_to "Profilo", current_user  %></li>
    <ul><li><%= link_to 'Modifica profilo', edit_user_path(current_user) %></li></ul>    
    <% if current_user.enabled? %>
      <li><%= link_to "Inserisci casa", new_house_path  %></li>
      <li><%= link_to "Messaggi", messages_path  %></li>  
      <li><%= link_to "Le mie case", user_house_path(current_user)  %></li>
      <li><%= link_to "Tutte le case", houses_path  %></li>            
    <% end %>
  </ul>
  <% if current_user.admin? %>
  <h3>Men&ugrave; Amministratori</h3>
    <ul>
      <li><%= link_to "Users", users_path  %></li>
    </ul>
  <% end %>
  
  
</div> 