<!DOCTYPE html>
<html>
<head>
  <title><%= admin_title %></title>
  <%= stylesheet_link_tag 'screen', 'ie', 'custom' %>
  <%=  javascript_include_tag :defaults, "rails.validations"  %>
  <%= csrf_meta_tag %>
</head>
<body>
  <% if signed_in? %>
    <%=  current_user.email %> 
    <%= link_to "Logout", signout_path, :method => :delete %>
  <% end %>
  <div id="wrapper" >
    <%= render 'layouts/admin/header' %>
    <div id="contenent">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %> "><%= value %></div>
      <% end %>         
      <%= yield %>
    </div>    
    <br clear="all"/>
  </div> 
    <br clear="all"/>
    <%= render 'layouts/admin/footer' %>
    
  
</body>
</html>
