<p id="notice"><%= notice %></p>

<p>
  <b>Object:</b>
  <%= @message.object %>
</p>

<p>
  <b>Text:</b>
  <%= @message.text %>
</p>

<p>
  <b>House:</b>
  <%= @message.house_id %>
</p>

<%= link_to 'Back', admin_messages_path %>
