<p id="notice"><%= notice %></p>

<p>
  <b>Titolo:</b>
  <%= @user.name %>
</p>
<p>
  <b>Descrizione:</b>
  <%= @user.email %>
</p>
<p>
  <b>Abilitato:</b>
  <%= @user.enabled %>
</p>
<p>
  <b>Admin:</b>
  <%= @user.admin %>
</p>
