<h2>Nuova condizione casa</h2>
<%= form_for @condition, :url => url_for(:controller => 'admin/settings', :action => 'save_condition'), :validate => true do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label "Nome" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="action">
    <%= f.submit "Invia" %>
  </div>
<% end %>
