<%= form_for [:admin, @house], :validate => true do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label "Titolo annuncio" %><br />
    <%= f.text_field :titolo %>
  </div>
  <div class="field">
    <%= f.label "Descrizione casa" %><br />
    <%= f.text_area :descrizione %>
  </div>
  <div class="field">
    <%= f.label "Paese" %><br />
    <%= f.text_field :town %>
  </div>
  <div class="field">
    <%= f.label "C.A.P." %><br />
    <%= f.text_field :postcode %>
  </div>
  <div class="field">
    <%= f.label "Provincia" %><br />
    <%= f.text_field :province %>
  </div>
  <div class="field">
    <%= f.label "Metri quadrati" %><br />
    <%= f.text_field :total_sqm %>
  </div>
  <div class="field">
    <%= f.label "Numero locali" %><br />
    <%= f.text_field :n_total_room %>
  </div>
  <div class="field">
    <%= f.label "Numero camere" %><br />
    <%= f.text_field :n_bedroom %>
  </div>
  <div class="field">
    <%= f.label "Numero bagni" %><br />
    <%= f.text_field :n_bathroom %>
  </div>
  <div class="field">
    <%= f.label "Anno costruzione" %><br />
    <%= f.text_field :year_of_construction %>
  </div>
  <div class="field">
    <%= f.label "Prezzo" %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label "Titologia casa" %><br />
    <%= f.collection_select :TypeOfHouse_id, TypeOfHouse.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label "Tipo contratto" %><br />
    <%= f.collection_select :TypeOfContract_id, TypeOfContract.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label "Condizioni casa" %><br />
    <%= f.collection_select :Condition_id, Condition.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit "Salva casa" %>
  </div>
<% end %>

