<h2>Modifica profilo <%=  @user.name %></h2>
<%= form_for [:admin, @user], :url => url_for(:controller => 'users', :action => 'update_permission'), :validate => true do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label "Nome" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "E-mail" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :admin %><br />
    <%= f.check_box :admin %>
  </div>
  <div class="field">
    <%= f.label :enabled %><br />
    <%= f.check_box :enabled %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<%= link_to 'Vedi', admin_user_path(@user) %> |
<%= link_to 'Indietro', admin_users_path %>
