<h1>Admin Editing <%=  @user.name %></h1>

<%= form_for [:admin, @user], :url => url_for(:controller => 'users', :action => 'update_permission') do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :admin %><br />
    <%= f.check_box :admin %>
  </div>
  <div class="field">
    <%= f.label :enabled %><br />
    <%= f.check_box :enabled %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<%= link_to 'Show', admin_user_path(@user) %> |
<%= link_to 'Back', admin_users_path %>
