<h2>Modifica profilo <%=  @user.name %></h2>

<%= form_for [:admin, @user], :validate  do |f| %>
  <div class="field">
    <%= f.label :name, "Nome e cognome:" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, "E-mail:" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit "Aggiorna profilo" %>
  </div>
<% end %>


