<h1>Listing Users</h1>

<table>

<% @users.each do |user| %>
  <tr>
    <th><%= user.name %></th>
    <th><%= user.email %></th>
    <th>Abilitato: <%= user.enabled %></th>
    <th>Admin: <%= user.admin %></th>
  </tr> 
  <tr>
    <td><%= link_to 'Permessi', edit_permission_admin_user_path(user) %></td>
    <td><%= link_to "Le sue case", user_admin_house_path(user)  %></td>
    <td></td>
    <td></td>
  </tr>  
    
  
<% end %>
</table>

<br />

<%= link_to 'New User', new_admin_user_path %>

