<h1>Listing Users</h1>

<table>

<% @users.each do |user| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td>Abilitato: <%= user.enabled %></td>
    <td>Admin: <%= user.admin %></td>
  </tr> 
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= link_to 'Permessi', edit_permission_admin_user_path(user) %></td>
    <td><%= link_to "Le sue case", user_admin_house_path(user)  %></td>
    <td>
      <%=link_to admin_user_path(user),:method => :delete do %>
        <%='Elimina'%>
      <% end %>
    </td>
    <td></td>
  </tr>  
    
  
<% end %>
</table>

<br />


