<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag 'style', 'screen', 'ie'%>
  <%= javascript_include_tag :defaults, "rails.validations"  %>
  <%= csrf_meta_tag %>
</head>

<body>
  <div id="header"></div>
  <div id="navigation">
    <ul>
      <li><%= link_to "HOME", root_path %> </li>
      <li><%= link_to "CHI SIAMO", chi_siamo_pages_path %> </li>
    </ul>
  </div>
    <div id="content_top">
      <div style="width: 170px; background: #ddd; float: left; border: 2px solid silver;">        
        <h3>Cerca</h3>
        <%= render 'shared/search_form' %>
      </div>            
      <div id="main_content">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>       
      </div>
      <br clear="all" />
    </div>
  <div id="fotter">
    <div class="design_info" id="footer">Designed by Luigi Scagnet</div>
  </div>
</body>
</html>